<ion-content>
  <h2 class="ion-text-center">Admin Register</h2>
  <h6 class="ion-text-center">Please fill the below details.</h6>
  <ion-input class="ion-padding" placeholder="Name"></ion-input>
  <ion-input class="ion-padding" placeholder="Email"></ion-input>
  <ion-input class="ion-padding" placeholder="Mobile"></ion-input>
  <ion-input class="ion-padding" placeholder="Password"></ion-input>
  <ion-input class="ion-padding" placeholder="Confirm Password "></ion-input>
  <ion-button color="primary" expand="block" class="ion-margin ion-padding" (click)="router.navigate(['/tabs/tab1']);" style="--border-radius:25px">Continue</ion-button>
  </ion-content>