<ion-content class="ion-text-center">
  <h2>What's the code?</h2>
  <h6>enter the code sent to your mobile.</h6>

  <ion-grid>
    <ion-row>
      <ion-col><ion-input></ion-input></ion-col>
      <ion-col><ion-input></ion-input></ion-col>
      <ion-col><ion-input></ion-input></ion-col>
      <ion-col><ion-input></ion-input></ion-col>
    </ion-row>
  </ion-grid>
  <ion-button color="primary" expand="block" class="login" style="border-radius:25px"
    (click)="router.navigate(['/register']);">Submit</ion-button>
</ion-content>